RewriteEngine on

Options +FollowSymLinks -Indexes
Options -MultiViews

RedirectMatch 403 ^/.*/(yii/|\.git|\.hg).*$

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
